@import "tailwindcss";

.status {
  background-image: url('./assets/icons/battleStatuses.png');
  width: 44px;
  height: 16px;
  background-repeat: no-repeat;
}

.status-slp  { background-position: 0px 0px; }   /* Dormido */
.status-psn { background-position: 0px -16px; }  /* Envenenado */
.status-tox  { background-position: 0px -16px; }  /* Gravemente envenenado */
.status-brn { background-position: 0px -32px; }  /* Quemado */
.status-par  { background-position: 0px -48px; }  /* Paralizado */
.status-frz  { background-position: 0px -64px; }  /* Congelado */
.status-none { background-image: none; }  /* NONE */

.female { color: rgb(211, 94, 133);}
.male { color: rgb(0, 162, 255);}