@import "tailwindcss";

.status {
  background-image: url('./assets/icons/battleStatuses.png');
  width: 44px;
  height: 16px;
  background-repeat: no-repeat;
}

.status-slp  { background-position: 0px 0px; }   /* Dormido */
.status-psn { background-position: 0px -16px; }  /* Envenenado */
.status-tox  { background-position: 0px -16px; }  /* Gravemente envenenado */
.status-brn { background-position: 0px -32px; }  /* Quemado */
.status-par  { background-position: 0px -48px; }  /* Paralizado */
.status-frz  { background-position: 0px -64px; }  /* Congelado */
.status-none { background-image: none; }  /* NONE */

.female { color: rgb(211, 94, 133);}
.male { color: rgb(0, 162, 255);}

.mini-icon {
    --scale: 0.6667;

    width: calc(64px * var(--scale));
    height: calc(54px * var(--scale));

    background-repeat: no-repeat;
    background-size: calc(128px * var(--scale))
                     calc(54px * var(--scale));

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    animation: walk 1s steps(2) infinite;
}

@keyframes walk {
    from {
        background-position: 0 calc(-10px * var(--scale));
    }
    to {
        background-position: calc(-128px * var(--scale))
                             calc(-10px * var(--scale));
    }
}